<div class="cart-scrim" data-action="click->storefront#closeCart"></div>
<aside class="cart-drawer" aria-label="Your cart">
  <div id="cart_panel" class="cart-inner">
    <%= render "shared/cart_contents", cart: current_cart %>
  </div>
</aside>
